[submodule "projects/nextjs-blog"]
	path = projects/nextjs-blog
	url = git@github.com:dinhanhthi/nextjs-blog.git
[submodule "projects/notetheme"]
	path = projects/notetheme
	url = git@github.com:dinhanhthi/notetheme.git
[submodule "projects/simple-perso"]
	path = projects/simple-perso
	url = git@github.com:dinhanhthi/simple-perso.git
[submodule "projects/strapi-nextjs-blog"]
	path = projects/strapi-nextjs-blog
	url = git@github.com:dinhanhthi/strapi-nextjs-blog.git
[submodule "projects/docker-texmath"]
	path = projects/docker-texmath
	url = git@github.com:math2it/docker-texmath.git
[submodule "projects/pobo"]
	path = projects/pobo
	url = git@github.com:dinhanhthi/pobo.git
[submodule "projects/gatsby-site"]
	path = projects/gatsby-site
	url = git@github.com:dinhanhthi/gatsby-site.git
[submodule "projects/notedown"]
	path = projects/notedown
	url = git@github.com:dinhanhthi/notedown.git
[submodule "projects/texmath-static"]
	path = projects/texmath-static
	url = git@github.com:math2it/texmath-static.git
[submodule "projects/TaniaJekyll"]
	path = projects/TaniaJekyll
	url = git@github.com:dinhanhthi/TaniaJekyll.git
[submodule "projects/--force"]
	path = projects/--force
	url = git@github.com:dinhanhthi/TaniaJekyll.git
